@media (max-width: 768px) {
    header {
        height: 100px; 
    }
    
    .main-menu {
        width: 90%;
        justify-content: space-between; 
        padding-left: 10px;
    }

    h1 {
        z-index: 1001; 
    }

    .hamburguer-menu {
        display: flex;
        position: relative; 
        top: 0;
        right: 0;
        z-index: 1001;
    }

    .links {
        display: none; 
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        position: fixed;
        inset: 0; 
        width: 100vw;
        height: 100dvh; 
        background-color: #ffffff;
        z-index: 1000;
        gap: 25px;
        padding: 0;
        margin: 0;
    }

    header:has(.hamburguer-menu input:checked) .links {
        display: flex;
    }

  
    .links a {
        font-size: 2rem;
    }

    .links a.btn {
        width: 97px;
    }

    body:has(.hamburguer-menu input:checked) {
        overflow: hidden;
    }

     .header-actions {
    flex-direction: column;
    gap: 12px;
  }

} 