 .container {
     display: flex;
     justify-content: center;
     width: 100%;
     margin-top: 70px;
 }


 .deliver-container {
     display: flex;
     width: 90%;
     max-width: 1200px;
 }

 .deliver-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 46%;
     max-width: 1200px;
     margin-right: 30px;
 }


 .form-container {
     width: 51%;
 }

 .deliver-text h2 {
     font-family: 'Monserrat' sans-serif;
     font-size: 4rem;
 }

 .deliver-text p {
     font-family: 'Monserrat' sans-serif;
     font-size: 2rem;
 }


 form {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     background-color: var(--white);
     padding: 60px 100px;
     border-radius: var(--border-radius);
     box-shadow: var(--shadow-md);
 }

 form h3 {
     font-family: 'Monserrat' sans-serif;
     font-size: 2.3rem;
     font-weight: normal;
 }

 form p {
     font-family: 'Monserrat' sans-serif;
     font-size: 1.8rem;
     font-weight: normal;
 }

 form label,
 input {
     width: 100%;
 }

 form input {
     height: 40px;
     border: none;
     background-color: #e7e7e7;
     border-radius: 3px;
     padding-left: 12px;
     transition: border 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;

 }

 form .btn {
     width: 100%;
     margin-top: 30px;
     font-size: 1.4rem;
 }



 form input:focus {
     outline: none;
     border: 2px solid #434343;
     box-shadow: 0 0 5px rgba(67, 67, 67, 0.5);
     background-color: #fff;
 }

 .shake-error {
     animation: shake 0.4s ease-in-out;
     border: 2px solid #e74c3c !important;
     background-color: rgba(231, 76, 60, 0.05) !important;
 }