.hamburguer-menu {
    --x-width: calc(var(--hamburguer-height) * 1.414221356237);
    display: none; 
    flex-direction: column;
    gap: var(--hamburguer-gap);
    width: max-content;
    z-index: 1001;
}

.hamburguer-menu::before,
.hamburguer-menu::after,
.hamburguer-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--blue);
    border-radius: 999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        translate var(--animation-timing);
}

.hamburguer-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

/* The selector :has should target the right ID in HTML */
.hamburguer-menu:has(#menu-toggle:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburguer-menu:has(#menu-toggle:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburguer-menu #menu-toggle:checked {
    opacity: 0;
    width: 0;
}