
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    color: #434343;
    background-color: #d4d4d4;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}