
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--neutral);
    background-color: var(--primary-color);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--links);
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    color: var(--blue);
}

h2 {
    color: var(--blue);
}

p {
    color: var(--neutral);
}