/* html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--neutral);
    background-color: var(--primary-color);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--links);
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    color: var(--blue);
}

h2 {
    color: var(--blue);
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    color: var(--neutral);
    font-size: 2rem;
}

.section-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.bg-alt {
    background-color: var(--primary-color);
}

.inner-content {
    width: 90%;
    max-width: 1200px;
    padding: 80px 0;
} */