:root {
   /* --- Color Palette --- */
    --primary-color: #f5f7fa;       
    --secondary-color: #d4d4d4;     
    --accent-color: #b0c60d;;        
    --white: #ffffff;
    --black: #000000;
    --blue:#1c85c6;
    --hover-green: #b0c60d;
    --neutral: #565c70;
    --links: #565c70;
    --hover-active:#1c85c6;
    
    /* --- Text Colors --- */
    --text-main: #434343;
    --text-muted: #6c757d;
    --text-light: #ffffff;

    /* --- Typography --- */
    --font-main: 'Montserrat', sans-serif;
    --font-accent: 'Roboto', sans-serif;
    
   /* --- Font Sizes --- */
    --fs-h1: 3.5rem;
    --fs-h2: 2.8rem;
    --fs-h3: 2.3rem;
    --fs-body: 1.6rem;
    --fs-small: 1.2rem;

    /* --- Spacing and Borders --- */
    --border-radius: 4px;
    --container-width: 1200px;
    --header-height: 100px;
    --header-height-mobile: 100px;

    /* --- Hamburger Menu --- */
    --bar-width: 25px;
    --bar-height: 2px;
    --hamburguer-gap: 6px;
    --hamburguer-height: calc(var(--bar-height) * 3 + var(--hamburguer-gap) * 2);
    
    /* --- Shadows --- */
    --shadow-sm: 0 2px 4px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.15);

    /* --- Animations --- */
    --animation-timing: 200ms ease-in-out;
    --transition-fast: 0.3s ease;
}